@import url(../../App.css);

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

li {
  margin: 10px;
}

.title {
  font-family: 'Dancing Script', cursive;
  background: var(--primary-green);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1440px;
}

@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    justify-content: center;
  }
  .inactive {
    display: none;
  }
}